.chatApp {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0b141a; /* WhatsApp Web outer background */
}

/* On Desktop, WhatsApp has a container that looks floating */
@media (min-width: 1024px) {
  .chatApp {
    padding: 20px;
    background-color: #0a1014;
  }
  
  .chatApp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 127px;
    background-color: #00a884;
    z-index: -1;
  }

  .chatContainer {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #111b21;
    height: 100%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
  }
}

@media (max-width: 1023px) {
  .chatContainer {
    display: flex;
    width: 100%;
    height: 100%;
  }

  /* Mobile Responsive View */
  .chatApp .sidebarWrapper {
    width: 100%;
    display: flex;
  }
  
  .chatApp .chatWindowWrapper {
    display: none;
    width: 100%;
  }

  .chatApp.chatActive .sidebarWrapper {
    display: none;
  }

  .chatApp.chatActive .chatWindowWrapper {
    display: flex;
  }
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
}

.chatWindowWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.mobileBackBtn {
  display: none;
  position: absolute;
  z-index: 100;
  top: 18px;
  left: 16px;
}

.backButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
}

@media (max-width: 1023px) {
  .mobileBackBtn {
    display: block;
  }
}
